@import url("https://fonts.googleapis.com/css?family=Poppins");

main * {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 600px;
}

main h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
}

main h1.title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

main p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

main span {
  font-size: 14px;
  margin-top: 25px;
}

main a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

main a:hover {
  color: #35e7e1;
}

main .content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

main .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .content input {
  accent-color: #650c95;
  width: 12px;
  height: 12px;
}

main .content label {
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

main button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #84fbff;
  background-color: #84fbff;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

main button:hover {
  letter-spacing: 3px;
}

main button:active {
  transform: scale(0.95);
}

main button:focus {
  outline: none;
}

main button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #ffffff;
  color: #ffffff;
}

main button.ghost i {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

main button.ghost i.register {
  right: 70px;
}

main button.ghost i.login {
  left: 70px;
}

main button.ghost:hover i.register {
  right: 40px;
  opacity: 1;
}

main button.ghost:hover i.login {
  left: 40px;
  opacity: 1;
}

main form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

main input {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

main .container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}

main .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

main .login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

main .container.right-panel-active .login-container {
  transform: translateX(100%);
}

main .register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

main .container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

main .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

main .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

main .overlay {
  background-image: url("../images/15 copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

main .overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(46, 94, 109, 0.4) 40%,
    rgba(46, 94, 109, 0)
  );
}

main .container.right-panel-active .overlay {
  transform: translateX(50%);
}

main .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

main .overlay-left {
  transform: translateX(-20%);
}

main .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

main .overlay-right {
  right: 0;
  transform: translateX(0);
}

main .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

main .social-container {
  margin: 20px 0;
}

main .social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 50px;
  width: 40px;
  transition: 0.3s ease-in-out;
}

main .social-container a:hover {
  border: 1px solid #84fbff;
}
